.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #72d6f5;
  padding: 10px;
  border-radius: 8px;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  margin: 0 10px;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.link:hover {
  background-color: #646cff;
  color: #fff;
}

.link.active {
  font-weight: bold;
}

@media (max-width: 480px) {
  .nav {
    flex-direction: column;
  }

  .link {
    margin: 5px;
  }
}