.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #444141;
  border-radius: 10px;
  padding: 16px;
  gap: 12px;
  font-family: "Montserrat-Bold";
  background-color: rgb(240, 237, 243);
}
.info {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  width: 300px;
}
