.contactItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
  }
  
  .contactInfo {
    font-size: larger;
    font-weight: 500;
    text-align: left;
  }
  
  .contactInfo :not(:last-of-type) {
    margin-bottom: 12px;
  }
  
  .contactIcon {
    margin-right: 8px;
  }
  
  .contactBtns {
    min-width: 74px;
  }
  
  .contactBtns * {
    width: 100%;
  }
  
  .contactBtns :not(:last-of-type) {
    margin-bottom: 12px;
  }