.contactForm {
    width: 360px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 8px;
  }
  
  .formBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .fieldBox {
    padding: 10px 20px;
  }
  
  .submitBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .errorMsgForm {
    color: red;
  }